@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ebony: #362404;
    --background: #fff1e6;
}

body {
    color: var(--ebony);
    background: var(--background);
    font-family: var(--font-futura);
}

/* reusable classes */
@layer utilities {
}
